# Обязательные ключи (без них некоторые функции не будут работать)
SHODAN_API_KEY=your_shodan_api_key_here
IPINFO_API_KEY=your_ipinfo_api_key_here
EMAILREP_API_KEY=

# Опциональные ключи для дополнительных сервисов
INTELX_API_KEY=
NUMVERIFY_API_KEY=